
a {
	cursor: pointer;
}
div.geodata-status {
	position: relative;
	display: block;
	z-index: 999;
	height: 2em;
	width: 200px;
}

div.loc-no-geodata-list {
	z-index: 999;
	right: 4px;
	bottom: 20px;
	padding: 4px 12px;
	position: absolute;
	display: block;
	max-width: 250px;
	background-color: #FFF;
	border-radius: 4px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}

div.loc-no-geodata-list-container {
	display: block;
	max-height: 225px;
	overflow-y: auto;
}

div.usajobs-table-item-job-details dl {
	margin-bottom: 10px;
}

div.usajobs-table-item-job-details btn,
div.usajobs-table-item-job-details btn-xs {
	width: 100% !important;
}

div.clusterIcon {
	display: block;
	height: 40px !important;
	width: 40px !important;
	padding: 4px;
	background-color: transparent; /* Old IE fallback */
	background-color: rgba(38, 127, 202, 0.22);
	color: #89CEFF;
	border: 1px solid rgba(38, 127, 202, 0.85);
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	vertical-align: middle;
	text-align: center;
	line-height: 10px;
}

div.clusterIcon:hover {
	background-color: transparent;
	background-color: rgba(38, 127, 202, 0.12);
}

img.markercluster-icon-img {
	height: 18px;
	width: 12px;
	margin: -8px -2px 0px -2px;
	display: inline;
	vertical-align: middle;
}

li.loc-popup-job-list-item {
	margin-bottom: 6px;
}

a.loc-popup-job-list-item-link {
	display: block;
	height: 1.25em;
	overflow: hidden;
}

a.loc-popup-vacancy-list-item-link:hover {
	text-decoration: underline;
}

span.loc-popup-vacancy-list-item-tag {
	display: inline-block;
	/*width: 41%;*/
}

div.alaska-view-control,div.map-viewreset-control {
	cursor: pointer;
}

a.bg-primary-link {
	color: white;
	font-weight: bold;
}

.text-shortened {
	max-height: 3em;
	overflow: hidden;
}

.usajobs-vac-table {
	max-height: 600px;
	min-height: 300px;
	overflow-y: auto;
}

.usajobs-vac-table-list-item {
	margin-bottom: 1.5em;
}

.bold {
	font-weight: 800;
}

.bg-clear {
	background-color: transparent;
}


/**
 * 	Angular RangeSlider SCSS
 * 
 *	Version: 0.0.7
 *
 * 	Author: Daniel Crisp, danielcrisp.com
 *
 * 	The rangeSlider has been styled to match the default styling
 * 	of form elements styled using Twitter's Bootstrap
 * 
 * 	Originally forked from https://github.com/leongersen/noUiSlider
 *

	This code is released under the MIT Licence - http://opensource.org/licenses/MIT

	Copyright (c) 2013 Daniel Crisp

	Permission is hereby granted, free of charge, to any person obtaining a copy
	of this software and associated documentation files (the "Software"), to deal
	in the Software without restriction, including without limitation the rights
	to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
	copies of the Software, and to permit persons to whom the Software is
	furnished to do so, subject to the following conditions:

	The above copyright notice and this permission notice shall be included in
	all copies or substantial portions of the Software.

	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
	IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
	FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
	AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
	LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
	OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
	THE SOFTWARE.

 */
/*------------------------------------*\
    COMPASS IMPORTS
\*------------------------------------*/
/*------------------------------------*\
    SETTINGS
\*------------------------------------*/
/*------------------------------------*\
    THE CSS
\*------------------------------------*/
/* line 69, scss/angular.rangeSlider.scss */
.ngrs-range-slider {
	position: relative;
	margin: 10px 0 20px;
	padding: 4px;
	border: 1px solid #ccc;
	background: #fff;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear, box-shadow linear;
	-webkit-transition-delay: 0.2s, 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/*------------------------------------*\
      RUNNER
  \*------------------------------------*/
	/*------------------------------------*\
      JOIN (connects the two handles)
  \*------------------------------------*/
	/*------------------------------------*\
      HANDLE
  \*------------------------------------*/
	/*------------------------------------*\
      HANDLE SPECIFICS
  \*------------------------------------*/
	/*------------------------------------*\
      VALUE LABELS
  \*------------------------------------*/
	/*------------------------------------*\
      ATTACHED VALUE RUNNER
  \*------------------------------------*/
	/*------------------------------------*\
      VERTICAL SLIDER
  \*------------------------------------*/
	/*------------------------------------*\
      FOCUS STATE
  \*------------------------------------*/
	/*------------------------------------*\
      DISABLED STATE
  \*------------------------------------*/
}
/* line 72, scss/angular.rangeSlider.scss */
.ngrs-range-slider,.ngrs-range-slider * {
	display: block;
	cursor: default;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* line 97, scss/angular.rangeSlider.scss */
.ngrs-range-slider .ngrs-runner {
	position: relative;
	margin: 0 9px;
	height: 18px;
}
/* line 107, scss/angular.rangeSlider.scss */
.ngrs-range-slider .ngrs-join {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 0;
	right: 100%;
	height: 8px;
	margin: -4px 0 0 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #428bca;
	background-image: -webkit-linear-gradient(#74A3C9, #428bca);
	background-image: -moz-linear-gradient(#74A3C9, #428bca);
	background-image: -o-linear-gradient(#74A3C9, #428bca);
	background-image: linear-gradient(#74A3C9, #428bca);
}
/* line 125, scss/angular.rangeSlider.scss */
.ngrs-range-slider .ngrs-handle {
	position: absolute;
	z-index: 2;
	height: 100%;
	width: 18px;
	margin: 0 0 0 -9px;
	background: #efefef;
	border: 1px solid #ccc;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	/*------------------------------------*\
      HANDLE ICON
  \*------------------------------------*/
}
/* line 139, scss/angular.rangeSlider.scss */
.ngrs-range-slider .ngrs-handle i {
	display: block;
	width: 100%;
	height: 100%;
	background: no-repeat -9999px -9999px;
	cursor: pointer;
}
/* line 149, scss/angular.rangeSlider.scss */
.ngrs-no-touch .ngrs-range-slider .ngrs-handle:hover i,.ngrs-range-slider .ngrs-handle.ngrs-down i
	{
	background-position: 50% 50%;
}
/* line 154, scss/angular.rangeSlider.scss */
.ngrs-range-slider .ngrs-handle.ngrs-down {
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
/* line 165, scss/angular.rangeSlider.scss */
.ngrs-range-slider .ngrs-handle-min i {
	background-image:
		url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFNJREFUeNpiYMAEXEDsA+OwoEnKALETEHOgK2AEYhMgNkQ3DqSAB6pLAot1DExIJmAFzED8C4hvQdnIppyFKYCBp0D8CohloVafxWUqN7I3AQIMAKw6B24pOi8lAAAAAElFTkSuQmCC");
}
/* line 172, scss/angular.rangeSlider.scss */
.ngrs-range-slider .ngrs-handle-max i {
	background-image:
		url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFdJREFUeNpiYEAAHyDmYkADzEhsByBWA+K3QPwJmwJjIGYBYlUgZgLi59gUwIAkEEsD8VMmBtyAkQFqJDZwAYjPAPE/dAU/gHg/ED/GpgvkTW50QYAAAwADfwrM5sqplgAAAABJRU5ErkJggg==");
}
/* line 182, scss/angular.rangeSlider.scss */
.ngrs-range-slider .ngrs-value {
	position: absolute;
	top: 100%;
	left: 0;
	padding: 5px 0 0 0;
	font-size: 12px;
	color: #999;
}
/* line 190, scss/angular.rangeSlider.scss */
.ngrs-range-slider .ngrs-value.ngrs-value-max {
	left: auto;
	right: 0;
	text-align: right;
}
/* line 198, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-handle-min-down .ngrs-value-min,.ngrs-range-slider.ngrs-handle-max-down .ngrs-value-max
	{
	color: #333;
}
/* line 205, scss/angular.rangeSlider.scss */
.ngrs-range-slider .ngrs-attached-handles {
	margin: 0 9px;
	position: relative;
	/*------------------------------------*\
      ATTACHED VALUE RUNNER LABELS
  \*------------------------------------*/
}
/* line 212, scss/angular.rangeSlider.scss */
.ngrs-range-slider .ngrs-attached-handles .ngrs-value-max {
	text-align: left;
}
/* line 215, scss/angular.rangeSlider.scss */
.ngrs-range-slider .ngrs-attached-handles .ngrs-value>div {
	margin: 0 0 0 -50%;
}
/* line 224, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical {
	width: 28px;
	margin: 10px auto;
	/*------------------------------------*\
      RUNNER
  \*------------------------------------*/
	/*------------------------------------*\
      ATTACHED VALUE RUNNER
  \*------------------------------------*/
	/*------------------------------------*\
      JOIN
  \*------------------------------------*/
	/*------------------------------------*\
      HANDLE
  \*------------------------------------*/
	/*------------------------------------*\
      HANDLE SPECIFICS
  \*------------------------------------*/
	/*------------------------------------*\
      VALUE LABELS
  \*------------------------------------*/
	/*------------------------------------*\
      VERTICAL LEFT SLIDER
  \*------------------------------------*/
	/*------------------------------------*\
      VERTICAL RIGHT SLIDER
  \*------------------------------------*/
}
/* line 232, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-runner {
	margin: 9px 0;
	height: 300px;
	width: 18px;
}
/* line 242, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-value-runner.ngrs-attached-handles
	{
	padding: 4px;
	position: absolute;
	top: 0;
	margin: 9px 0;
	height: 300px;
	left: 100%;
}
/* line 256, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-join {
	width: 8px;
	height: auto;
	top: 0;
	bottom: 100%;
	left: 50%;
	right: auto;
	margin: 0 0 0 -4px;
}
/* line 270, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-handle {
	width: 100%;
	height: 18px;
	margin: -9px 0 0 0;
}
/* line 281, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-handle-min i {
	background-image:
		url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFFJREFUeNpiYEAFPFAMB0xIbEYgdoJiRpggM5ICUyBWhZoA0vgMWYEsENsg6ZQE4ldA/AmkkguIHZGNhQKQGBfIBHcgFmTABCxALMJAMQAIMAAcNgVQJ7t7JQAAAABJRU5ErkJggg==");
}
/* line 288, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-handle-max i {
	background-image:
		url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFZJREFUeNpiYKAUMAKxDxBL4ZB/xgQk9gHxDyySILF9zEDiNxC/A2JVNAW7gfgtM5TzCYhZgFgCyr8IxNdADGZk+4BYGoi/APEBIP6PzVE8UAwHAAEGAArIDvzRFIA6AAAAAElFTkSuQmCC");
}
/* line 298, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-value {
	top: 0;
	left: 100%;
	padding: 0 0 0 5px;
}
/* line 303, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-value.ngrs-value-max {
	top: auto;
	bottom: 0;
	right: auto;
	text-align: left;
}
/* line 312, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-attached-handles .ngrs-value-max,.ngrs-range-slider.ngrs-vertical .ngrs-attached-handles .ngrs-value-min
	{
	margin: -50% 0 0;
}
/* line 321, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical.ngrs-left {
	margin: 10px 0;
}
/* line 329, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical.ngrs-right {
	margin: 10px 0 10px auto;
	/*------------------------------------*\
      ATTACHED VALUE RUNNER
  \*------------------------------------*/
	/*------------------------------------*\
      VALUE LABELS
  \*------------------------------------*/
}
/* line 335, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical.ngrs-right .ngrs-attached-handles {
	left: 0%;
}
/* line 343, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical.ngrs-right .ngrs-value {
	left: auto;
	right: 100%;
	padding: 0 5px 0 0;
	text-align: right;
}
/* line 349, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical.ngrs-right .ngrs-value.ngrs-value-max {
	text-align: right;
}
/* line 361, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-focus {
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
}
/* line 372, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-disabled,.ngrs-range-slider.ngrs-disabled.ngrs-focus
	{
	border-color: #ddd;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
/* line 378, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-disabled .ngrs-handle {
	background: #fff;
	border-color: #ddd;
}
/* line 382, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-disabled .ngrs-handle i {
	background: none !important;
	cursor: default;
}
/* line 388, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-disabled .ngrs-join {
	background: #ddd;
}
/* line 392, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-disabled .ngrs-value {
	color: #ddd;
}

/*------------------------------------*\
    TOUCH STATE
\*------------------------------------*/
/* line 404, scss/angular.rangeSlider.scss */
body.ngrs-touching {
	-ms-touch-action: none;
}